HBlog*
Trace*
*.iir
*.o
*.o-*
*.a
*_adf
*.sif
*.so
a.out
bin/
build/
.build/
ADFinspec
flowGraph.js
*_adf_base
*_adf_instr
checkerResult.txt
temp

# input files to the benchmarks
smallcontent.txt
mediumcontent.txt
largecontent.txt
